@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
  margin: 0;
}

body {
font-family: "Space Mono", sans-serif;
color: whitesmoke;
background-color: rgb(109,78,247);
text-decoration: none;
}

a {
  color: whitesmoke;
}

header {
left: 0;
top: 0;
margin-bottom: 7vh;
padding: 1rem;
float: right;
word-spacing: 1vw;
}

.hidden {
  display:none;
}

.data {
  margin: 0;
  padding-left: 2rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer {
  bottom:0;
  padding:25px;
  background-color: rgb(255,76,76,0.6);
  position: absolute;
}

#footerButton {
  float:right;
  background-color: transparent;
  border: none;
  color:white;
  font-size:1.2rem;
  padding-left: 10px;
}

body {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

iframe {
  position: absolute;
  right: 50px;
  top: 25%;
  opacity: 40%;
}

iframe:hover {
  opacity: 800%;
}

@media only screen and (max-width: 752px) {
  iframe {display: none;}
}